@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* font-family: 'Inter', sans-serif; */

/* MAIN */

main {

    font-family: 'Inter', sans-serif;
    padding: 50px 0 50px 0;

}

.card {

    max-width: 31%;

}

.card img {

    border-radius: 250px;

}
