@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* font-family: 'Inter', sans-serif; */

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

/* NAVBAR MOBILE */

#mobile-navbar {

    background-color: rgb(238, 235, 235);
    height: 80px;
    display: none;
}

/* NAVBAR DESKTOP */

/* NAVBAR QUANDO NÃO ESTÁ LOGADO */

#first-navbar {

    display: flex;
    height: 90px;
    width: 100%;
    background-color: #f0f0f0;

}

#pags-space {

    width: 70%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;

}

#pags-space a {

    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.2vw;
    color: black;

}

#pags-space a:hover {

    border-bottom: 2px solid #50A4EC;
}


#login-user span {

    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.3vw;
    color: black;
    cursor: pointer;

}

#login-user button {

    width: 150px;
    height: 40px;
    color: white;
    border-radius: 60px;
    background: #30599E;
    border: none;
    margin-right: 30px;
    font-size: 1.2vw;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;

}

#login-user button:hover {

    background-color: #50A4EC;
    width: 153px;
    height: 42px;
    font-weight: 500;
}

/* NAVBAR GLOBAL CONFIGS */

.logo-space {

    width: 20%;
    display: flex;

}

#user-space {

    display: flex;
    align-items: center;
    align-content: space-around;
    width: 80%;
    padding-top: 15px;

}


.logo-space img {

    width: 170px;

}

/* NAVBAR QUANDO ESTÁ LOGADO */


.hyperlink-space {

    width: 65%;
    margin: 0 5% 0 0 ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.hyperlink-space a {

    color: #010040;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    text-decoration: none;

}

.hyperlink-space a:hover {

    border-bottom: 3px solid #50A4EC;

}


#icons-space {

    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.icons-img  {

    width: 40px;
    transition: width 300ms ease-in-out;
    cursor: pointer;

}

.icons-img:hover  {

    width: 50px;

}

