@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* FOOTER */

footer {

    height: 370px;
    background-color: #f0f0f0;

}

/* PRIMEIRA DIVISÃO */

.first-division-footer {

    height: 90%;
    width: 100%;
    display: flex;
    padding: 2% 3% 0 3%;

}

.hyperlinks-area {

    width: 40%;

}

.hyperlinks-area img {

    width: 200px;
    margin-bottom: 3%;

}

.hyperlinks-area p a {

    color: .000;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;

}

.information-area {

    width: 30%;
    padding-top: 5%;

}

.info-content {

    display: flex;
    margin-bottom: 10px;
    align-items: center;

}

.content-text p {

    color: .000;
    font-family: 'Inter', sans-serif;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.information-area img {

    width: 35px;
    margin-right: 5px;

}

.social-area {

    width: 30%;
    height: 70%;
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.social-area h2 {

    color: .000;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.social-area h3 {

    color: .000;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.social-area a img {

    width: 35px;

}

/* SEGUNDA DIVISÃO */

.second-division-footer {

    height: 10%;
    text-align: center;

}

.second-division-footer h4 {

    color: .000;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}