@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');



/* NAVBAR GLOBAL CONFIGS FIXED*/

nav {

    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #ffffff;

}

/* MAIN */

/* PRIMEIRA SESSÃO */

section {

    width: 100%;
    height: 600px;

}

#first-area {

    display: flex;

}

#search-area {

    background-color: #30599E;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#search-area p {

    color: #ffffff;
    font-size: 2.5vw;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;

}

#search-job {

    padding-top: 80px;

}

#search-job form input {

    fill: #FFF;
    stroke-width: 3px;
    stroke: #30599E;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    transition: all 0.6s;
    font-family: 'Merriweather Sans', sans-serif;

}

#search-job form input:focus {

    outline: none;
    width: 365px;
    height: 55px;
    font-size: 1.1vw;
    font-family: 'Merriweather Sans', sans-serif;

}

#search-job form button {

    width: 110px;
    height: 30px;
    margin-left: 25px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
    cursor: pointer;
    transition: all 0.5s;

}

#search-job form button:hover {

    width: 113px;
    height: 32px;
    background-color: #50A4EC;
    color: white;
}

#image-area {

    width: 50%;

}

#image-area img {

    width: 100%;
    height: 600px;
}

/* SEGUNDA SESSÂO */


#second-area h1 {

    text-align: center;
    margin-top: 50px;
    font-family: 'Merriweather Sans', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-size: 2.3vw;

}

.swiper {
    width: 90%;
    height: 350px;
    margin-top: 50px;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.swiper-slide img {

    display: block;
    width: 40px;
    object-fit: cover;

}

#second-area-button {

    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

#second-area-button a button {

    width: 300px;
    height: 50px;
    color: white;
    background-color: #50A4EC;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.4vw;
    transition: all 0.5s;

}

#second-area-button a button:hover {

    width: 310px;
    height: 55px;
    background-color: #30599E;
    border-radius: 23px;

}

/* TERCEIRA SESSÃO */

#third-area {

    background-color: #30599E;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#third-area h1 {

    width: 90%;
    text-align: center;
    margin-top: 40px;
    font-size: 2.4vw;
    color: #ffffff;
    font-family: 'Merriweather Sans', sans-serif;

}

/* QUARTA SESSÃO */

#fourth-area {

    display: flex;
    width: 100%;
    justify-content: center;
    height: 550px;
    align-items: center;
    padding-top: 20px;

}

#fourth-area-main-division {

    width: 95%;
    display: flex;
    height: 80%;

}

#fourth-area-first-division {

    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#fourth-area-first-division h2 {

    font-size: 2.3vw;
    margin-bottom: 30px;
    font-family: 'Merriweather Sans', sans-serif;

}

#fourth-area-first-division img {

    width: 65%;

}

#fourth-area-second-division{

    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#fourth-area-second-division h3{

    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.6vw;
    width: 85%;
    margin-bottom: 40px;
    font-weight: 300;

}

#fourth-area-second-division a button {

    width: 300px;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-size: 1.4vw;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    background-color: #30599E;
    cursor: pointer;
    transition: all 0.5s;

}

#fourth-area-second-division a button:hover {

    width: 310px;
    height: 55px;
    background-color: #50A4EC;
    border-radius: 23px;

}

/* QUINTA SESSÃO */

#fifth-area {

    padding: 0 10% 0 10%;
    height: 850px;

}

#fifth-area-main-division {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

#fifth-area-main-division h1 {

    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2.2vw;
    width: 40%;
    text-align: center;

}

#fifth-area-logo-image img {

    width: 200px;

}

#fifth-area-first-division {

    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.fifth-area-plans-division {

    border: 3px solid #30599E;
    margin-top: 20px;
    border-radius: 30px;
    width: 450px;
    height: 500px;

}

.fifth-area-plans-division h2 {

    text-align: center;
    color: #30599E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-size: 2.6vw;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 20px;

}

.fifth-area-plans-division p {

    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.6vw;
    margin: 30px 0 40px 25px;
    width: 80%;
    display: flex;

}

.fifth-area-plans-division p img {

    width: 50px;

}


#fifth-area-plans-buy {

    display: flex;
    flex-direction: column;
    align-items: center;

}

#fifth-area-plans-buy span {

    font-size: 2vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    margin-bottom: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;

}

#fifth-area-plans-buy a button {

    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.2vw;
    color: #FFF;
    background-color: #30599E;
    cursor: pointer;
    transition: all 0.5s;

}

#fifth-area-plans-buy a button:hover {

    background-color: #50A4EC;
    width: 153px;
    height: 31px;

}




@media (max-width:768px ) {

    #desktop-navbar {
    
        display: none;

    }

    #mobile-navbar {

        display: flex;

    }

    .logo-space {

        width: 82%;
        display: flex;
    
    }
    
    .logo-space img {
    
        width: 120px;
        margin: 5px;
    
    }
    
}

@media (min-width:768px) and (max-width:1024px) {

    .logo-space {

        width: 90%;

    }

    .logo-space img {
    
        width: 150px;
        margin: 5px;
    
    }

}