@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* font-family: 'Inter', sans-serif; */

/* MAIN */

main {

    height: 800px;

}

#text-span {

    text-align: center;
    margin: 25px 0 85px 0;
    color: rgba(0, 0, 0, 0.71);
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

#jobs-division {

    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;

}

.job-card {

    width: 360px;
    height: 585px;
    flex-shrink: 0;
    border: 3px solid #30599E;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 15px 15px;

}

#text-area-card h2 {

    color: #30599E;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;

}

#text-area-card h3 {

    color: rgba(0, 0, 0, 0.70);
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;

}

#text-area-card h4 {

    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

#image-area-card {

    width: 250px;
    height: 232px;
    text-align: center;

}

#interaction-area-card h2 {

    color: rgba(0, 0, 0, 0.82);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;

}

#interaction-area-card div {

    display: flex;
    margin-top: 20px;

}

#interaction-area-card div h4 {

    color: rgba(0, 0, 0, 0.50);
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 40%;

}

#interaction-area-card div button {

    width: 155px;
    height: 47px;
    flex-shrink: 0;
    background-color: #30599E;
    color: #FFFFFF;
    border-radius: 40px;
    cursor: pointer;
    border: none;
    font-size: 17px;
    margin-left: 10%;
    transition: all 300ms ease-in-out;

}

#interaction-area-card div button:hover {

    background-color: #50A4EC;
    width: 156px;
    height: 48px;

}

