@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* font-family: 'Inter', sans-serif; */

/* MAIN */

main {

    width: 100%;
    font-family: 'Inter', sans-serif;
    padding: 40px 0 40px 0;

}

#user-information {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#user-info-container {

    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#profile-img img {

    width: 230px;
    height: 230px;
    border-radius: 150px;

}

#profile-text {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    margin: 0 50px 0 50px;

}

#profile-text h1 {

    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

#profile-text h2 {

    color: rgba(0, 0, 0, 0.80);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

#profile-text h3 {

    color: rgba(0, 0, 0, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.curriculum-space {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.curriculum-space button {

    background-color: #30599E;
    color: #fff;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    transition: background-color 300ms ease-in-out;

}

.curriculum-space button:hover {

    background-color: #50A4EC;
    color: #fff;

}

#about-me {

    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

#about-text {

    width: 95%;
    padding: 15px;
    background-color: #fff;
    filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.25));
    border-radius: 30px;

}

#about-text h2 {

    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;

}

#about-text h3 {

    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

#professional-info {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.professional-text {

    margin: 30px 0 0 0 ;

}

.professional-text span {

    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#user-formations {

    width: 93%;

}

#user-experiences {

    width: 93%;

}

.card-area {

    display: flex;
    flex-wrap: wrap;

}

.card {

    width: 46%;
    background-color: #30599E;
    margin: 20px 3% 0 0;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    transition: all 300ms ease-in-out;
    
}

.card:hover {

    width: 47%;
    background-color: #50A4EC;

}

.card h1 {

    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  

}

.card h2, h3 {

    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.card h4 {

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

/* PERFIL LOGADO CSS */

.card-text {

    width: 90%;

}

.card-editor {

    width: 10%;
    display: flex;
    justify-content: space-around;

}

.modal-icons i {

    cursor: pointer;

}


/* MODAL PARA ADICIONAR FORMAÇÃO E EMPRESAS */


.modal-content {

    background-color: #fff;
    filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.25));

}

.add-container {

    width: 75%;
    padding: 30px;


}

.add-modal {

    max-width: 1000px

}

.text-add {

    font-size: 28px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-bottom: 50px;

}

.centralizer {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.add-form {

    width: 100%;
    padding-left: 10px;
    margin-bottom: 40px;

}

.full-input {

    width: 650px;

}

.middle-input {

    width: 325px;

}

.add-input {

    display: block;
    height: 45px;
    flex-shrink: 0;
    border-radius: 17px;
    border: 0.5px solid #000;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    transition: all 300ms ease-in-out;

}

.add-input:focus {

    height: 47px;
    outline: none;

}

.add-form select {

    display: block;
    width: 325px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 17px;
    border: 0.5px solid #000;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;

}

.add-form select:hover {

    width: 325px;
    height: 48px;
    outline: none;

}

.add-form select:active {

    width: 325px;
    height: 48px;
    outline: none;

}

.add-form label {

    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;  


}

.add-button {

    width: 170px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: #30599E;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: all 300ms ease-in-out;
    float: right;

}

.add-button:hover {

    width: 175px;
    height: 48px; 
    background-color: #50A4EC;

}





/* BOTÕES DA ULTIMA PARTE */

#edit-buttons {

    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px ;

}

#buttons-container {

    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

#buttons-container button {

    width: 240px;
    height: 60px;
    border-radius: 60px;   
    background-color: #30599E;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: none;
    transition: all 300ms ease-in-out;

}

#buttons-container button:hover {

    background-color: #50A4EC;
    width: 245px;
    height: 63px;

}

/* MODAL PARA EDITAR PERLFIL */

.edit-profile {

    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile-info {

    width: 80%;
    height: 250px;

}

#img-form {

   width: 30%; 
   text-align: center;

}

#info-form {

    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-evenly;
    padding-left: 30px;
    
}

.profile-label {

    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.profile-input {

    display: block;
    width: 400px;
    height: 45px;
    border-radius: 17px;
    border: 0.5px solid #000;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;

}

.profile-input:focus {

    outline: none;
    width: 410px;
    height: 49px;

}



#picture__input {

    display: none;

}
  
.picture {

    width: 230px;
    height: 230px;
    border-radius: 150px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}
  
.picture:hover {

    color: #777;
    background: #ccc;

}
  
.picture:active {

    border-color: turquoise;
    color: turquoise;
    background: #eee;

}
  
.picture:focus {

    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
  
.picture__img {

    max-width: 100%;

}

#about-form {

    width: 80%;
    margin: 30px 0 30px 0;

}

#about-form textarea {

    display: block;
    width: 100%;
    height: 130px;
    border-radius: 17px;
    border: 0.5px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 8px;

}
  



