@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');


/* NAVBAR GLOBAL CONFIGS FIXED*/

nav {

    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #ffffff;

}

/* MAIN */


/* PRIMEIRA SESSÃO */

#first-area {

    display: flex;
    height: 750px;
}

#first-area-image {

    width: 55%;

}

#first-area-image img {

    width: 100%;
    height: 100%;

}

#first-area-text {

    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;

}

#first-area-text h1 {

    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;

}

#first-area-text h3 {

    color: #000;
    text-align: justify;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90%;

}

/* SEGUNDA SESSÃO */

#second-area {

    height: 700px;

}

#second-area-text {

    width: 100%;
    height: 10%;
    text-align: center;

}

#second-area-text h1 {

    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}



