@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

/* NAVBAR MOBILE */

#mobile-navbar {

    background-color: rgb(238, 235, 235);
    height: 80px;
    display: none;
}

/* NAVBAR DESKTOP */

#desktop-navbar {

    display: flex;
    height: 100px;
    width: 100%;

}

#pags-space {

    margin-right: 40px;
    width: 70%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;

}

#pags-space a {

    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.2vw;
    color: black;

}

#pags-space a:hover {

    border-bottom: 2px solid #50A4EC;
}


#login-user span {

    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.3vw;
    color: black;
    cursor: pointer;

}

#login-user button {

    width: 150px;
    height: 40px;
    color: white;
    border-radius: 60px;
    background: #30599E;
    border: none;
    margin-right: 30px;
    font-size: 1.2vw;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;

}

#login-user button:hover {

    background-color: #50A4EC;
    width: 153px;
    height: 42px;
    font-weight: 500;
}

/* NAVBAR GLOBAL CONFIGS */

.logo-space {

    width: 20%;
    display: flex;

}

#user-space {

    display: flex;
    align-items: center;
    align-content: space-around;
    width: 80%;
    padding-top: 15px;

}


.logo-space img {

    width: 170px;

}
