@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* font-family: 'Inter', sans-serif; */

/* MAIN */

main {

    height: 1000px;
    font-family: 'Inter', sans-serif;
    padding: 50px 0 50px 0;

}

#profile-container {

    width: 100%;
    display: flex;

}

#profile-user-one {

    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #30599E;

}

#image-molder {

    width: 277px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 150px;
    border: 5px solid #FFF;
    text-align: center;
    display: flex;
    align-items: center;

}

#image-molder img {

    width: 100%;
    height: 100%;
    border-radius: 150px;
    display: flex;

}

#profile-user-one h1 {

    color: #FFF;
    margin: 11px 0 50px 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

#profile-user-one button {

    width: 270px;
    height: 66px;
    border-radius: 60px;
    background-color: #50A4EC;
    color: white;
    font-size: 30px;
    font-weight: 600;
    border: none;
    transition: all 300ms ease-in-out;
    cursor: pointer;

}

#profile-user-one button:hover {

    width: 271px;
    height: 67px;
    background-color: #4491d4;
    border: 1px solid #ffffff;
    
}

#profile-user-two {

    width: 60%;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.65);
    padding-left: 20px;
    padding-bottom: 100px;
}

.effect-text {

    background-color: #fff;
    filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.25));
    width:  95%;
    height: 450px;
    border-radius: 30px;
    margin-top: 101px;
    padding: 15px 28px 15px 28px;
}

#profile-user-two h1 {

    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 39px;

}

#profile-user-two h4 {

    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

#profile-user-two h2 {

    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;

}

#profile-user-two h3 {

    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}