@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* FONTES */

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Merriweather Sans', sans-serif; */

/* NAVBAR SETTINGS */

nav{

    margin-bottom: 3%;

}

/* MAIN */

main {

    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* SWIPER */

.swiper {

    margin-bottom: 3%;
    width: 90vw;
    height: 550px;
    fill: #fff;
    background-color: #ffffff;
    border-radius: 20px;
    filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.25));
}

.swiper-slide {



}


/* PRIMEIRA DIVISÃO */

#first-division {

    height: 25%;
    display: flex;
    align-items: center;
    padding-left: 4%;

}

#first-division-text-area p {

    font-family: 'Inter', sans-serif;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

#first-division-text-area span {

    font-family: 'Inter', sans-serif;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

#first-division img {

    width: 180px;
    position: fixed;
    right: 1%;

}


/* FORMULARIO */

/* SEGUNDA DIVISÃO */

#second-division {

    width: 100%;
    display: flex;
    height: 55%;
    justify-content: center;

}

#form-division {

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#form-division label p{

    color: rgba(0, 0, 0, 0.70);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

#form-division label p span {

    color: rgba(255, 0, 0, 0.70);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

#form-division input {

    width: 98%;
    height: 40px;
    fill: #FFF;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
    background-color: #ffffff;
    border: 0.002cm solid #50A4EB ;
    border-radius: 5px;
    transition: all 0.3s;
    padding-left: 2%;
    font-size: 1.1vw;
    font-family: 'Inter', sans-serif;

}

#form-division input:focus {

    outline: none;
    width: 100%;
    height: 42px;

}

/* TERCEIRA DIVISÃO */

/* BOTÕES */

#third-division {

    width: 100%;
    padding: 2% 3% 0 0;

}

#buttons-division {

    display: flex;
    float: right;

}

#prev-button {

    width: 30px;
    font-size: 1.4vw;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    cursor: pointer;

}

#next-button {

    background-color: #30599E;
    width: 180px;
    height: 55px;
    font-size: 1.3vw;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.3s;

}

#next-button:hover {

    background-color: #50A4EB;

}

/* SEGUNDO SLIDE ESTILIZAÇÕES */

#security-indicator {

    display: flex;
    width: 100%;
    margin: 15px 0 15px 0;
}

#security-indicator h3 {

    font-size: 1.3vw;
    font-family: 'Inter', sans-serif;
    margin-right: 10px;

}

#security-indicator span {

    font-size: 1.3vw;
    font-family: 'Inter', sans-serif;
    font-weight: 600;

}

#password-rules ul li {

    font-size: 1.2vw;
    font-family: 'Inter', sans-serif;

}

/* TERCEIRO SLIDE ESTILIZAÇÕES */

.form select {

    width: 98%;
    height: 40px;
    fill: #FFF;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
    background-color: #ffffff;
    border: 0.002cm solid #50A4EB ;
    border-radius: 5px;
    transition: all 0.3s;
    padding-left: 2%;
    font-size: 1.1vw;
    font-family: 'Inter', sans-serif;

}

.form select:focus {

    outline: none;
    width: 100%;
    height: 42px;

}



/* HYPERLINK PARA LOGIN */

#login-link {

    font-family: 'Inter', sans-serif;
    color: #0E9DEE;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;

}